extends layout

block header
  .breadcome-area
    .container-fluid
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .breadcome-list
            .row
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                .breadcomb-wp
                  .breadcomb-icon
                    i.icon.nalika-home
                  .breadcomb-ctn
                    h2 Danh sách tài khoản
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                .breadcomb-report
                  button.btn(data-toggle='tooltip', data-placement='left', title='Tải báo cáo')
                    i.icon.nalika-download
block content
  .product-status.mg-b-30
    .container-fluid
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .product-status-wrap
            h4 Danh sách tài khoản
            .add-product
              a(href='account-edit.html') Thêm tài khoản
            table
              tr
                th Họ tên
                th Số điện thoại
                th Giới tính
                th Ngày sinh
                th Email
                th Mật khẩu
                th Tuỳ chọn
              tr
                td Tài khoản 1
                td 01633385424
                td Nam
                td 01/01/1998
                td Email 1
                td 123456
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='account-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#')  
                      i.fa.fa-trash-o(aria-hidden='true')
              tr
                td Tài khoản 2
                td 01633385424
                td Nữ
                td 02/02/1998
                td Email 2
                td abcdef
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='account-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#')  
                      i.fa.fa-trash-o(aria-hidden='true')
              tr
                td Tài khoản 3
                td 01633385424
                td Nam
                td 01/01/1998
                td Email 3
                td qwertyy
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='account-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#')  
                      i.fa.fa-trash-o(aria-hidden='true')
              tr
                td Tài khoản 4
                td 01633385424
                td Nữ
                td 02/02/1998
                td Email 4
                td 45789666
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='account-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#')  
                      i.fa.fa-trash-o(aria-hidden='true')
              tr
                td Tài khoản 5
                td 01633385424
                td Nữ
                td 01/01/1998
                td Email 5
                td 123456
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='account-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#')  
                      i.fa.fa-trash-o(aria-hidden='true')
              tr
                td Tài khoản 6
                td 01633385424
                td Nữ
                td 02/02/1998
                td Email 6
                td abcdef
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='account-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#')  
                      i.fa.fa-trash-o(aria-hidden='true')
              tr
                td Tài khoản 7
                td 01633385424
                td Nam
                td 01/01/1998
                td Email 7
                td 123456
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='account-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#')  
                      i.fa.fa-trash-o(aria-hidden='true')
              tr
                td Tài khoản 8
                td 01633385424
                td Nữ
                td 02/02/1998
                td Email 8
                td abcdef
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='account-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#')  
                      i.fa.fa-trash-o(aria-hidden='true')
              tr
                td Tài khoản 9
                td 01633385424
                td Nam
                td 01/01/1998
                td Email 9
                td 123456
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='account-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#')  
                      i.fa.fa-trash-o(aria-hidden='true')
              tr
                td Tài khoản 10
                td 01633385424
                td Nữ
                td 02/02/1998
                td Email 10
                td abcdef
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='account-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#')  
                      i.fa.fa-trash-o(aria-hidden='true')
            .custom-pagination
              ul.pagination
                li.page-item
                  a.page-link(href='#') Trước
                li.page-item
                  a.page-link(href='#') 1
                li.page-item
                  a.page-link(href='#') 2
                li.page-item
                  a.page-link(href='#') 3
                li.page-item
                  a.page-link(href='#') Sau