doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  title Quản trị
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  //
    favicon
    ============================================
  link(rel='shortcut icon', type='image/x-icon', href='img/favicon.ico')
  //
    Google Fonts
    ============================================
  link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900', rel='stylesheet')
  //
    Bootstrap CSS
    ============================================
  link(rel='stylesheet', href='css/bootstrap.min.css')
  //
    Bootstrap CSS
    ============================================
  link(rel='stylesheet', href='css/font-awesome.min.css')
  //
    nalika Icon CSS
    ============================================
  link(rel='stylesheet', href='css/nalika-icon.css')
  //
    owl.carousel CSS
    ============================================
  link(rel='stylesheet', href='css/owl.carousel.css')
  link(rel='stylesheet', href='css/owl.theme.css')
  link(rel='stylesheet', href='css/owl.transitions.css')
  //
    animate CSS
    ============================================
  link(rel='stylesheet', href='css/animate.css')
  //
    normalize CSS
    ============================================
  link(rel='stylesheet', href='css/normalize.css')
  //
    meanmenu icon CSS
    ============================================
  link(rel='stylesheet', href='css/meanmenu.min.css')
  //
    main CSS
    ============================================
  link(rel='stylesheet', href='css/main.css')
  //
    morrisjs CSS
    ============================================
  link(rel='stylesheet', href='css/morrisjs/morris.css')
  //
    mCustomScrollbar CSS
    ============================================
  link(rel='stylesheet', href='css/scrollbar/jquery.mCustomScrollbar.min.css')
  //
    metisMenu CSS
    ============================================
  link(rel='stylesheet', href='css/metisMenu/metisMenu.min.css')
  link(rel='stylesheet', href='css/metisMenu/metisMenu-vertical.css')
  //
    calendar CSS
    ============================================
  link(rel='stylesheet', href='css/calendar/fullcalendar.min.css')
  link(rel='stylesheet', href='css/calendar/fullcalendar.print.min.css')
  //
    style CSS
    ============================================
  link(rel='stylesheet', href='style.css')
  //
    responsive CSS
    ============================================
  link(rel='stylesheet', href='css/responsive.css')
  //
    modernizr JS
    ============================================
  script(src='js/vendor/modernizr-2.8.3.min.js')
//if lt IE 8
  p.browserupgrade
    | You are using an 
    strong outdated
    |  browser. Please 
    a(href='http://browsehappy.com/') upgrade your browser
    |  to improve your experience.
.left-sidebar-pro
  nav#sidebar
    .sidebar-header
      a(href='index.html')
        img.main-logo(src='img/logo/logo.png', alt='')
      strong
        img(src='img/logo/logosn.png', alt='')
    .nalika-profile
      .profile-dtl
        a(href='#')
          img(src='img/notification/4.jpg', alt='')
        h2
          | #{process.env.ADMIN_NAME}
      .profile-social-dtl
        ul.dtl-social
          li
            a(href='#')
              i.icon.nalika-facebook
          li
            a(href='#')
              i.icon.nalika-twitter
          li
            a(href='#')
              i.icon.nalika-linkedin
    .left-custom-menu-adp-wrap.comment-scrollbar
      nav.sidebar-nav.left-sidebar-menu-pro
        ul#menu1.metismenu
          li
            a(title='Home', href='index.html')
              span.mini-sub-pro Trang chủ
          li
            a.has-arrow(href='index.html')
              i.icon.nalika-home.icon-wrap
              span.mini-click-non Quản lý tài khoản
            ul.submenu-angle(aria-expanded='true')
              li
                a(title='Account List', href='account-list.html')
                  span.mini-sub-pro Danh sách tài khoản
          li
            a.has-arrow(href='index.html')
              i.icon.nalika-home.icon-wrap
              span.mini-click-non Quản lý gian hàng
            ul.submenu-angle(aria-expanded='true')
              li
                a(title='Stall List', href='stall-list.html')
                  span.mini-sub-pro Danh sách gian hàng
          li
            a.has-arrow(href='index.html')
              i.icon.nalika-home.icon-wrap
              span.mini-click-non Quản lý đơn hàng
            ul.submenu-angle(aria-expanded='true')
              li
                a(title='Order List', href='order-list.html')
                  span.mini-sub-pro Danh sách đơn hàng
          li
            a.has-arrow(href='index.html')
              i.icon.nalika-home.icon-wrap
              span.mini-click-non Thông kê
            ul.submenu-angle(aria-expanded='true')
              li
                a(title='Revenue', href='revenue.html')
                  span.mini-sub-pro Doanh thu
              li
                a(title='Top 10 product', href='top-10-product.html')
                  span.mini-sub-pro Top 10 sản phẩm
// Start Welcome Area
.all-content-wrapper
  .container-fluid
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .logo-pro
          a(href='index.html')
            img.main-logo(src='img/logo/logo.png', alt='')
  .header-advance-area
    .header-top-area
      .container-fluid
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .header-top-wraper
              .row
                .col-lg-1.col-md-0.col-sm-1.col-xs-12
                  .menu-switcher-pro
                    button#sidebarCollapse.btn.bar-button-pro.header-drl-controller-btn.btn-info.navbar-btn(type='button')
                      i.icon.nalika-menu-task
                .col-lg-6.col-md-7.col-sm-6.col-xs-12
                  .header-top-menu.tabl-d-n.hd-search-rp
                    .breadcome-heading
                      form(role='search')
                        input.form-control(type='text', placeholder='Tìm kiếm')
                        a(href='')
                          i.fa.fa-search
                .col-lg-5.col-md-5.col-sm-12.col-xs-12
                  .header-right-info
                    ul.nav.navbar-nav.mai-top-nav.header-right-menu
                      li.nav-item
                        a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                          i.icon.nalika-user
                          span.admin-name Tài khoản
                          i.icon.nalika-down-arrow.nalika-angle-dw
                        ul.dropdown-header-top.author-log.dropdown-menu.animated.zoomIn(role='menu')
                          li
                            a(href='#')
                              span.icon.nalika-user.author-log-ic
                              |  Thông tin của tôi
                          li
                            a(href='#')
                              span.icon.nalika-settings.author-log-ic
                              |  Cài đặt
                          li
                            a(href='logout.html')
                              span.icon.nalika-unlocked.author-log-ic
                              |  Đăng xuất
                      li.nav-item.nav-setting-open
                        a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                          i.icon.nalika-menu-task
                        .admintab-wrap.menu-setting-wrap.menu-setting-wrap-bg.dropdown-menu.animated.zoomIn(role='menu')
                          ul.nav.nav-tabs.custon-set-tab
                            li.active
                              a(data-toggle='tab', href='#Settings') Cài đặt
                          .tab-content.custom-bdr-nt
                            #Settings.tab-pane.fade.in.active
                              .setting-panel-area
                                .note-heading-indicate
                                  h2
                                    i.icon.nalika-gear
                                    |  Bảng cài đặt
                                  p Cài đặt ngay
                                ul.setting-panel-list
                                  li
                                    .checkbox-setting-pro
                                      .checkbox-title-pro
                                        h2 Hiển thị thông báo
                                        .ts-custom-check
                                          .onoffswitch
                                            input#example.onoffswitch-checkbox(type='checkbox', name='collapsemenu')
                                            label.onoffswitch-label(for='example')
                                              span.onoffswitch-inner
                                              span.onoffswitch-switch
                                  li
                                    .checkbox-setting-pro
                                      .checkbox-title-pro
                                        h2 Ẩn chat
                                        .ts-custom-check
                                          .onoffswitch
                                            input#example3.onoffswitch-checkbox(type='checkbox', name='collapsemenu')
                                            label.onoffswitch-label(for='example3')
                                              span.onoffswitch-inner
                                              span.onoffswitch-switch
                                  li
                                    .checkbox-setting-pro
                                      .checkbox-title-pro
                                        h2 Kích hoạt lịch sử
                                        .ts-custom-check
                                          .onoffswitch
                                            input#example4.onoffswitch-checkbox(type='checkbox', name='collapsemenu')
                                            label.onoffswitch-label(for='example4')
                                              span.onoffswitch-inner
                                              span.onoffswitch-switch
                                  li
                                    .checkbox-setting-pro
                                      .checkbox-title-pro
                                        h2 Hiển thị biểu đồ
                                        .ts-custom-check
                                          .onoffswitch
                                            input#example7.onoffswitch-checkbox(type='checkbox', name='collapsemenu')
                                            label.onoffswitch-label(for='example7')
                                              span.onoffswitch-inner
                                              span.onoffswitch-switch
                                  li
                                    .checkbox-setting-pro
                                      .checkbox-title-pro
                                        h2 Cập nhật hàng ngày
                                        .ts-custom-check
                                          .onoffswitch
                                            input#example2.onoffswitch-checkbox(type='checkbox', name='collapsemenu', checked='')
                                            label.onoffswitch-label(for='example2')
                                              span.onoffswitch-inner
                                              span.onoffswitch-switch
                                  li
                                    .checkbox-setting-pro
                                      .checkbox-title-pro
                                        h2 Tìm kiếm toàn cầu
                                        .ts-custom-check
                                          .onoffswitch
                                            input#example6.onoffswitch-checkbox(type='checkbox', name='collapsemenu', checked='')
                                            label.onoffswitch-label(for='example6')
                                              span.onoffswitch-inner
                                              span.onoffswitch-switch
                                  li
                                    .checkbox-setting-pro
                                      .checkbox-title-pro
                                        h2 Người dùng ngoại tuyến
                                        .ts-custom-check
                                          .onoffswitch
                                            input#example5.onoffswitch-checkbox(type='checkbox', name='collapsemenu', checked='')
                                            label.onoffswitch-label(for='example5')
                                              span.onoffswitch-inner
                                              span.onoffswitch-switch
    block header

  block content
  
  .footer-copyright-area
    .container-fluid
      .row
        .col-lg-12
          .footer-copy-right
            p
              | Copyright &copy; 2018 
              a(href='https://colorlib.com/wp/templates/') Colorlib
              |  All rights reserved.
//
  jquery
  ============================================
script(src='js/vendor/jquery-1.12.4.min.js')
//
  bootstrap JS
  ============================================
script(src='js/bootstrap.min.js')
//
  wow JS
  ============================================
script(src='js/wow.min.js')
//
  price-slider JS
  ============================================
script(src='js/jquery-price-slider.js')
//
  meanmenu JS
  ============================================
script(src='js/jquery.meanmenu.js')
//
  owl.carousel JS
  ============================================
script(src='js/owl.carousel.min.js')
//
  sticky JS
  ============================================
script(src='js/jquery.sticky.js')
//
  scrollUp JS
  ============================================
script(src='js/jquery.scrollUp.min.js')
//
  mCustomScrollbar JS
  ============================================
script(src='js/scrollbar/jquery.mCustomScrollbar.concat.min.js')
script(src='js/scrollbar/mCustomScrollbar-active.js')
//
  metisMenu JS
  ============================================
script(src='js/metisMenu/metisMenu.min.js')
script(src='js/metisMenu/metisMenu-active.js')
//
  sparkline JS
  ============================================
script(src='js/sparkline/jquery.sparkline.min.js')
script(src='js/sparkline/jquery.charts-sparkline.js')
//
  calendar JS
  ============================================
script(src='js/calendar/moment.min.js')
script(src='js/calendar/fullcalendar.min.js')
script(src='js/calendar/fullcalendar-active.js')
//
  float JS
  ============================================
script(src='js/flot/jquery.flot.js')
script(src='js/flot/jquery.flot.resize.js')
script(src='js/flot/curvedLines.js')
script(src='js/flot/flot-active.js')
//
  plugins JS
  ============================================
script(src='js/plugins.js')
//
  main JS
  ============================================
script(src='js/main.js')
//
  dropzone JS
  ============================================
script(src='js/dropzone/dropzone.js')