extends layout

block header
  .breadcome-area
    .container-fluid
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .breadcome-list
            .row
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                .breadcomb-wp
                  .breadcomb-icon
                    i.icon.nalika-home
                  .breadcomb-ctn
                    h2 Danh sách đơn hàng
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                .breadcomb-report
                  button.btn(data-toggle='tooltip', data-placement='left', title='Tải báo cáo')
                    i.icon.nalika-download
block content
  .product-status.mg-b-30
    .container-fluid
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .product-status-wrap
            h4 Danh sách đơn hàng
            .add-product
              a(href='order-edit.html') Thêm đơn hàng
            table
              tr
                th STT
                th Mã đơn hàng
                th Tên khách hàng
                th Số điện thoại
                th Địa chỉ giao hàng
                th Hình thức thanh toán
                th Tuỳ chọn
              tr
                td 1
                td D1
                td Nguyễn Văn A
                td 0123456789
                td Đường 8A/2B, Phường 5, Quận 8, TPHCM
                td Online
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='order-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#') 
                      i.fa.fa-trash-o(aria-hidden='true')
              tr
                td 2
                td D2
                td Nguyễn Văn B
                td 0123456789
                td Đường 8A/2B, Phường 5, Quận 8, TPHCM
                td COD
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='order-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#') 
                      i.fa.fa-trash-o(aria-hidden='true')
              tr
                td 3
                td D3
                td Nguyễn Văn C
                td 0123456789
                td Đường 8A/2B, Phường 5, Quận 8, TPHCM
                td Online
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='order-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#') 
                      i.fa.fa-trash-o(aria-hidden='true')
              tr
                td 4
                td D4
                td Nguyễn Văn D
                td 0123456789
                td Đường 8A/2B, Phường 5, Quận 8, TPHCM
                td Online
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='order-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#') 
                      i.fa.fa-trash-o(aria-hidden='true')
              tr
                td 5
                td D5
                td Nguyễn Văn A
                td 0123456789
                td Đường 8A/2B, Phường 5, Quận 8, TPHCM
                td Online
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='order-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#') 
                      i.fa.fa-trash-o(aria-hidden='true')
              tr
                td 6
                td D6
                td Nguyễn Văn A
                td 0123456789
                td Đường 8A/2B, Phường 5, Quận 8, TPHCM
                td Online
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='order-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#') 
                      i.fa.fa-trash-o(aria-hidden='true')
              tr
                td 7
                td D7
                td Nguyễn Văn A
                td 0123456789
                td Đường 8A/2B, Phường 5, Quận 8, TPHCM
                td Online
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='order-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#') 
                      i.fa.fa-trash-o(aria-hidden='true')
              tr
                td 8
                td D8
                td Nguyễn Văn H
                td 0123456789
                td Đường 8A/2B, Phường 5, Quận 8, TPHCM
                td Online
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='order-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#') 
                      i.fa.fa-trash-o(aria-hidden='true')                    
              tr
                td 9
                td D9
                td Nguyễn Văn R
                td 0123456789
                td Đường 8A/2B, Phường 5, Quận 8, TPHCM
                td Online
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='order-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#') 
                      i.fa.fa-trash-o(aria-hidden='true')
              tr
                td 10
                td D10
                td Nguyễn Văn A
                td 0123456789
                td Đường 8A/2B, Phường 5, Quận 8, TPHCM
                td COD
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='order-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#') 
                      i.fa.fa-trash-o(aria-hidden='true')                                     
            .custom-pagination
              ul.pagination
                li.page-item
                  a.page-link(href='#') Trước
                li.page-item
                  a.page-link(href='#') 1
                li.page-item
                  a.page-link(href='#') 2
                li.page-item
                  a.page-link(href='#') 3
                li.page-item
                  a.page-link(href='#') Sau