extends layout

block header
  .breadcome-area
    .container-fluid
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .breadcome-list
            .row
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                .breadcomb-wp
                  .breadcomb-icon
                    i.icon.nalika-home
                  .breadcomb-ctn
                    h2 Thêm/Sửa sản phẩm
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                .breadcomb-report
                  button.btn(data-toggle='tooltip', data-placement='left', title='Tải báo cáo')
                    i.icon.nalika-download
block content                      
  // Single pro tab start
  .single-product-tab-area.mg-b-30
    // Single pro tab review Start
    .single-pro-review-area
      .container-fluid
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .review-tab-pro-inner
              ul#myTab3.tab-review-design
                li.active
                  a(href='#description')
                    i.icon.nalika-edit(aria-hidden='true')
                    |  Thông tin sản phẩm
                li
                  a(href='#reviews')
                    i.icon.nalika-picture(aria-hidden='true')
                    |  Ảnh
              #myTabContent.tab-content.custom-product-edit
                #description.product-tab-list.tab-pane.fade.active.in
                  .row
                    .col-lg-6.col-md-6.col-sm-6.col-xs-12
                      .review-content-section
                        .input-group.mg-b-pro-edt
                          span.input-group-addon
                            i.icon.nalika-edit(aria-hidden='true')
                          input.form-control(type='text', placeholder='Tên sản phẩm')
                        .input-group.mg-b-pro-edt
                          span.input-group-addon
                            i.icon.nalika-edit(aria-hidden='true')
                          input.form-control(type='text', placeholder='Tên gian hàng')
                        select.form-control.mg-b-pro-edt
                          option Tình trạng kho
                          option(value='1') Còn hàng
                          option(value='2') Còn ít hàng
                          option(value='3') Hết hàng
                    .col-lg-6.col-md-6.col-sm-6.col-xs-12
                      .review-content-section
                        .input-group.mg-b-pro-edt
                          span.input-group-addon
                            i.icon.nalika-edit(aria-hidden='true')
                          input.form-control(type='text', placeholder='Số lượng tồn')
                        .input-group.mg-b-pro-edt
                          span.input-group-addon
                            i.icon.nalika-edit(aria-hidden='true')
                          input.form-control(type='text', placeholder='Giá bán')
                        .input-group.mg-b-pro-edt
                          span.input-group-addon
                            i.icon.nalika-edit(aria-hidden='true')
                          input.form-control(type='text', placeholder='Mô tả')
                  .row
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      .text-center.custom-pro-edt-ds
                        button.btn.btn-ctl-bt.waves-effect.waves-light.m-r-10(type='button')
                          | Lưu
                        button.btn.btn-ctl-bt.waves-effect.waves-light(type='button')
                          | Bỏ qua
                #reviews.product-tab-list.tab-pane.fade
                  .row
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      .review-content-section
                        .row
                          .col-lg-4
                            .pro-edt-img
                              img(src='img/new-product/5-small.jpg', alt='')
                          .col-lg-8
                            .row
                              .col-lg-12
                                .product-edt-pix-wrap
                                  .row
                                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                      .dropzone-pro
                                        #dropzone
                                          form#demo-upload.dropzone.dropzone-custom.needsclick(action='/upload')
                                            .dz-message.needsclick.download-custom
                                              i.fa.fa-cloud-download(aria-hidden='true')
                                              h2 Tải ảnh lên
                                  .row
                                    .col-lg-6
                                      .form-radio
                                        form
                                          .radio.radiofill
                                            label
                                              input(type='radio', name='radio')
                                              i.helper
                                              | Lớn
                                          .radio.radiofill
                                            label
                                              input(type='radio', name='radio')
                                              i.helper
                                              | Vừa
                                          .radio.radiofill
                                            label
                                              input(type='radio', name='radio')
                                              i.helper
                                              | Nhỏ
                                    .col-lg-6
                                      .product-edt-remove
                                        button.btn.btn-ctl-bt.waves-effect.waves-light(type='button')
                                          | Xoá
                                          i.fa.fa-times(aria-hidden='true')