extends layout

block header
  .breadcome-area
    .container-fluid
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .breadcome-list
            .row
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                .breadcomb-wp
                  .breadcomb-icon
                    i.icon.nalika-home
                  .breadcomb-ctn
                    h2 Danh sách sản phẩm
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                .breadcomb-report
                  button.btn(data-toggle='tooltip', data-placement='left', title='Tải báo cáo')
                    i.icon.nalika-download
block content
  .product-status.mg-b-30
    .container-fluid
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .product-status-wrap
            h4 Danh sách sản phẩm
            .add-product
              a(href='product-edit.html') Thêm sản phẩm
            table
              tr
                th Ảnh
                th Tên sản phẩm
                th Tên gian hàng
                th Tình trạng kho
                th Số lượng tồn
                th Giá bán
                th Mô tả
                th Tuỳ chọn
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Sản phẩm 1
                td Gian hàng A
                td Hết hàng
                td 1200
                td $750
                td Mô tả 1
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='product-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#') 
                      i.fa.fa-trash-o(aria-hidden='true')
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Sản phẩm 2
                td Gian hàng A
                td Hết hàng
                td 1200
                td $750
                td Mô tả 2
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='product-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#') 
                      i.fa.fa-trash-o(aria-hidden='true')
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Sản phẩm 3
                td Gian hàng A
                td Hết hàng
                td 1200
                td $750
                td Mô tả 3
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='product-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#') 
                      i.fa.fa-trash-o(aria-hidden='true')
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Sản phẩm 4
                td Gian hàng A
                td Hết hàng
                td 1200
                td $750
                td Mô tả 4
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='product-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#') 
                      i.fa.fa-trash-o(aria-hidden='true')
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Sản phẩm 5
                td Gian hàng A
                td Hết hàng
                td 1200
                td $750
                td Mô tả 5
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='product-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#') 
                      i.fa.fa-trash-o(aria-hidden='true')
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Sản phẩm 6
                td Gian hàng A
                td Hết hàng
                td 1200
                td $750
                td Mô tả 6
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='product-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#') 
                      i.fa.fa-trash-o(aria-hidden='true')
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Sản phẩm 7
                td Gian hàng A
                td Hết hàng
                td 1200
                td $750
                td Mô tả 7
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='product-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#')
                      i.fa.fa-trash-o(aria-hidden='true')
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Sản phẩm 8
                td Gian hàng A
                td Hết hàng
                td 1200
                td $750
                td Mô tả 8
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='product-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#') 
                      i.fa.fa-trash-o(aria-hidden='true')                      
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Sản phẩm 9
                td Gian hàng A
                td Hết hàng
                td 1200
                td $750
                td Mô tả 9
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='product-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#') 
                      i.fa.fa-trash-o(aria-hidden='true')
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Sản phẩm 10
                td Gian hàng A
                td Hết hàng
                td 1200
                td $750
                td Mô tả 10
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='product-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#') 
                      i.fa.fa-trash-o(aria-hidden='true')                                     
            .custom-pagination
              ul.pagination
                li.page-item
                  a.page-link(href='#') Trước
                li.page-item
                  a.page-link(href='#') 1
                li.page-item
                  a.page-link(href='#') 2
                li.page-item
                  a.page-link(href='#') 3
                li.page-item
                  a.page-link(href='#') Sau