extends layout

block header
  .breadcome-area
    .container-fluid
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .breadcome-list
            .row
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                .breadcomb-wp
                  .breadcomb-icon
                    i.icon.nalika-home
                  .breadcomb-ctn
                    h2 Danh sách gian hàng
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                .breadcomb-report
                  button.btn(data-toggle='tooltip', data-placement='left', title='Tải báo cáo')
                    i.icon.nalika-download
block content
  .product-status.mg-b-30
    .container-fluid
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .product-status-wrap
            h4 Danh sách gian hàng
            .add-product
              a(href='stall-edit.html') Thêm gian hàng
            table
              tr
                th Ảnh
                th Tên gian hàng
                th Tuỳ chọn
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Gian hàng 1
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='stall-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#')
                      i.fa.fa-trash-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Các sản phẩm thuộc gian hàng')
                    a(href='product-list.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Gian hàng 2
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='stall-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#')
                      i.fa.fa-trash-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Các sản phẩm thuộc gian hàng')
                    a(href='product-list.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Gian hàng 3
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='stall-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#')
                      i.fa.fa-trash-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Các sản phẩm thuộc gian hàng')
                    a(href='product-list.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Gian hàng 4
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='stall-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#')
                      i.fa.fa-trash-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Các sản phẩm thuộc gian hàng')
                    a(href='product-list.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Gian hàng 5
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='stall-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#')
                      i.fa.fa-trash-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Các sản phẩm thuộc gian hàng')
                    a(href='product-list.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Gian hàng 6
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='stall-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#')
                      i.fa.fa-trash-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Các sản phẩm thuộc gian hàng')
                    a(href='product-list.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Gian hàng 7
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='stall-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#')
                      i.fa.fa-trash-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Các sản phẩm thuộc gian hàng')
                    a(href='product-list.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Gian hàng 8
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='stall-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#')
                      i.fa.fa-trash-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Các sản phẩm thuộc gian hàng')
                    a(href='product-list.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Gian hàng 9
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='stall-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#')
                      i.fa.fa-trash-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Các sản phẩm thuộc gian hàng')
                    a(href='product-list.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Gian hàng 10
                td
                  button.pd-setting-ed(data-toggle='tooltip', title='Sửa')
                    a(href='stall-edit.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Xoá')
                    a(href='#')
                      i.fa.fa-trash-o(aria-hidden='true')
                  button.pd-setting-ed(data-toggle='tooltip', title='Các sản phẩm thuộc gian hàng')
                    a(href='product-list.html')
                      i.fa.fa-pencil-square-o(aria-hidden='true')
            .custom-pagination
              ul.pagination
                li.page-item
                  a.page-link(href='#') Trước
                li.page-item
                  a.page-link(href='#') 1
                li.page-item
                  a.page-link(href='#') 2
                li.page-item
                  a.page-link(href='#') 3
                li.page-item
                  a.page-link(href='#') Sau