extends layout

block header
  .breadcome-area
    .container-fluid
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .breadcome-list
            .row
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                .breadcomb-wp
                  .breadcomb-icon
                    i.icon.nalika-home
                  .breadcomb-ctn
                    h2 Top 10 sản phẩm có số lượng bán nhiều nhất trong năm của shop
              .col-lg-6.col-md-6.col-sm-6.col-xs-6
                .breadcomb-report
                  button.btn(data-toggle='tooltip', data-placement='left', title='Tải báo cáo')
                    i.icon.nalika-download
block content
  .product-status.mg-b-30
    .container-fluid
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          .product-status-wrap
            h4 Top 10
            table
              tr
                th Ảnh
                th Tên sản phẩm
                th Tên gian hàng
                th Số lượng bán trong năm
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Sản phẩm 1
                td Gian hàng A
                td 10000
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Sản phẩm 2
                td Gian hàng B
                td 9000
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Sản phẩm 3
                td Gian hàng C
                td 8000
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Sản phẩm 4
                td Gian hàng C
                td 7000
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Sản phẩm 5
                td Gian hàng B
                td 6000
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Sản phẩm 6
                td Gian hàng B
                td 5000
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Sản phẩm 7
                td Gian hàng B
                td 4000
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Sản phẩm 8
                td Gian hàng H
                td 3000      
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Sản phẩm 9
                td Gian hàng U
                td 2000
              tr
                td
                  img(src='img/new-product/5-small.jpg', alt='')
                td Sản phẩm 10
                td Gian hàng X
                td 1000                                     